<template lang="jade">
.edit-post
    h2
        a.post__button-save(href="#" @click.prevent="save()") Save

    .edit-post__date
        .label Date
        input(type="text" placeholder="Date" v-model="post.date")

    .edit-post__title
        .label Title
        input(type="text" placeholder="Title" v-model="post.title")

    .edit-post__slug
        .label Slug
        input(type="text" placeholder="Slug" v-model="post.slug" v-bind:disabled="!isNew")

    .edit-post__tags
        .label Tags
        input(type="text" placeholder="Tags" v-model="tags")

    .edit-post__content
        .label Content
        textarea(v-model="post.content" placeholder="Content")
</template>

<script>
    import store from '../services/store'
    import Tags from './Tags.vue'

    export default {
        components: {Tags},

        data() {
            return {
                isNew: true,
                post: store.createPost()
            }
        },

        created() {
            let slug = this.$route.params.slug;

            if(slug !== 'new-post') {
                this.isNew = false;
                this.getPost(slug);
            }
        },

        methods: {
            getPost(slug) {
                let post = store.getPost(slug);

                if (post) {
                    Object.assign(this.post, post)
                }
                else {
                    this.$router.go({name: 'pageNotFound'})
                }
            },

            save() {
                store.save(this.post);
                this.$router.go({name: 'post', params: {slug: this.post.slug}})
            }
        },

        computed: {
            tags: {
                get() {
                    return this.post.tags.join(', ');
                },

                set(value) {
                    this.$set('post.tags', value.split(','));
                }
            }
        }
    }
</script>

<style>
    .edit-post {
        margin: 1em 0;
    }

    .edit-post__date,
    .edit-post__title,
    .edit-post__slug,
    .edit-post__tags,
    .edit-post__content {
        margin: 0.5em 0;
    }

    .post__button-save {
        float: right;
    }

    .edit-post input {
        width: 50%;
    }

    .edit-post__content textarea {
        min-height: 150px;
        width: 100%;
        resize: vertical;
    }
</style>