<template lang="jade">
.post
    .post__date {{post.date}}
    h2.post__title {{post.title}}
        a.post__button-edit(v-link="{name: 'edit-post', params: {slug: post.slug}}") Edit

    tags(:tags="post.tags")
    .post__content {{post.content}}

    .post__comments
        h3 Comments

        .post__comment(v-for="comment in post.comments")
            .post__comment-header
                span.post__comment-date {{comment.date}}

                span(v-show="!isEdit(comment.id)")
                    | &nbsp;- {{comment.user}}
                    a.post__button-comment-edit(href="#" @click.prevent="editComment(comment.id)") Edit
                span(v-show="isEdit(comment.id)")
                    a.post__button-comment-save(href="#" @click.prevent="save()") Save
            .post__comment-content(v-show="!isEdit(comment.id)") {{comment.content}}

            .post__comment-editor(v-show="isEdit(comment.id)")
                .post__comment-user-editor
                    .label User
                    input(type="text" placeholder="User" v-model="comment.user")
                .post__comment-content-editor
                    .label Comment
                    textarea(placeholder="Comment" v-model="comment.content")

        a.post__button-comment-add(href="#" v-show="!editCommentId" @click.prevent="addComment()") Add Comment
</template>

<script>
    import store, {getDate} from '../services/store'
    import Tags from './Tags.vue'

    export default {
        components: {Tags},

        data() {
            return {
                post: {},
                editCommentId: null
            }
        },

        created() {
            let post = store.getPost(this.$route.params.slug);

            if(post) {
                this.post = post
            }
            else {
                this.$router.go({name: 'pageNotFound'})
            }
        },

        methods: {
            isEdit(id) {
                return this.editCommentId === id;
            },

            addComment() {
                let comment = store.createComment();

                this.post.comments.push(comment);
                this.editComment(comment.id);
            },

            editComment(id) {
                this.editCommentId = id;
            },

            save() {
                this.editCommentId = null;
                store.save(this.post);
            }
        }
    }
</script>

<style>
.post {
    margin: 3em 0;
}

.post__date,
.post__comment-date {
    margin: 0.5em 0;
    font-size: 12px;
}

.post__title {
    font-weight: bold;
    margin: 0.5em 0;
}

.post__content {
    margin: 0.5em 0;
}

.post__button-edit {
    float: right;
}

.post__comment {
    margin: 1em 0;
}

.post__comment-header,
.post__comment-content,
.post__comment-editor,
.post__comment-user-editor,
.post__comment-content-editor {
    margin: 0.5em 0;
}

.post__comment-content {
    border: 1px solid #eee;
    padding: 15px;
}

.post__button-comment-edit,
.post__button-comment-save {
    float: right;
}

.post__comment-editor input,
.post__comment-editor textarea {
    width: 100%;
    resize: vertical;
    margin: 0.5em 0;
}
</style>