<template lang="jade">
.posts
    .posts__tags-filter(v-if="filter.tags.length")
        | Filter by tags:
        tags(:tags="filter.tags" @tag-selected="toggleTag").inline

    .posts__item(v-for="post in posts")
        .posts__item-date {{post.date}}

        h2.posts__item-title
            a(v-link="{name: 'post', params: {slug: post.slug}}") {{post.title}}

        tags(:tags="post.tags" @tag-selected="toggleTag")
        .posts__item-content {{post.content}}

    .posts__item(v-show="!posts.length")
        h2.posts__item-title Can't found any posts
</template>

<script>
    import store from '../services/store'
    import Tags from './Tags.vue'

    export default {
        components: {Tags},

        data() {
            return {
                posts: store.getPosts(),
                filter: {
                    title: '',
                    tags: []
                }
            }
        },

        events: {
            'search': function(value) {
                this.filter.title = value
            }
        },

        watch: {
            'filter': {
                handler: function(params) {
                    this.posts = store.findPosts(params)
                },
                deep: true
            }
        },

        methods: {
            toggleTag(tag) {
                let idx = this.filter.tags.indexOf(tag);

                if(!!~idx) {
                    this.filter.tags.splice(idx, 1)
                }
                else {
                    this.filter.tags.push(tag)
                }
            }
        }
    }
</script>

<style>
.posts {}

.posts__tags-filter {
    margin: 1em 0;
}

.posts__item {
    margin: 3em 0;
}

.posts__item-date {
    margin: 0.5em 0;
    font-size: 12px;
}

.posts__item-title {
    font-weight: bold;
    margin: 0.5em 0;
}

.posts__item-content {
    margin: 0.5em 0;
}

.inline {
    display: inline-block;
}
</style>