<template lang="jade">
.tags
    .tags-item(v-for="tag in tags" @click="select(tag)") {{tag}}
</template>

<script>
    export default {
        props: ['tags'],
        methods: {
            select(tag) {
                this.$dispatch('tag-selected', tag)
            }
        }
    }
</script>

<style>
.tags-item {
    display: inline-block;
    font-weight: bold;
    margin: 0 5px;
    border: 1px solid transparent;
    padding: 3px 9px;
    border-radius: 3px;
    cursor: pointer;
    user-select: none;
}

.tags-item:hover {
    border: 1px solid #3a33d1;
}
</style>