<template lang="jade">
.app
    .header
        h1
            a(v-link="{path: '/'}") Blog
        input.search(type="search" placeholder="Search..." @keyup="search")

    hr

    .content
        router-view

    hr

    .footer
        a.button-create-post(v-link="{name: 'edit-post', params: {slug: 'new-post'}}") Create New Post
</template>

<script>
    export default {
        methods: {
            search($event) {
                this.$broadcast('search', $event.target.value);
            }
        }
    }
</script>

<style>
[v-cloak] {
    display: none;
}

a {
    text-decoration: none;
}

.app {
    margin: 0 auto;
    width: 900px;
    padding: 1em 2em;
}

.header {
    padding: 1em 0;
}

.header h1 {
    display: inline;
}

.footer {
    padding: 1em 0;
    text-align: center;
}

.content {
    min-height: 300px;
}

.footer {
    text-align: center;
}

input.search {
    float: right;
}

input, textarea {
    margin: 1em 0;
    padding: 0.5em;
}
</style>
